*.py[cow]
*.sw[opmnl]
*.log
/.ropeproject/
/build/
/dist/
/docs/build/
/venv/
.ropeproject
.coverage
.coverage.*
/coverage/
.ipynb_checkpoints/
odoo_transfer_lib.egg-info
/examples/tmp
.eggs/
/venv_*/

